[user]
  name = Stephen Edwards
  email = 34760298+sventi555@users.noreply.github.com
  signingkey = ~/.ssh/id_rsa.pub
[gpg]
  format = ssh
[push]
  autoSetupRemote = true  
[alias]
  st = status
  ch = checkout
  cm = commit
  stall = stash --include-untracked
